<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show student</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="nav_bar/index.html :: navigation"></div>
<div class="d-grid gap-2 col-6 mx-auto">
    <h3>Edit tour</h3>
    <form th:method="PUT" th:action="@{/api/v1/tours/{id}(id=${tour.getId()})}" th:object="${tour}">
        <label for="price"><b>Price:</b> </label>
        <input class="form-control" type="text" th:field="*{price}" id="price" placeholder="Enter price"/>
        <br>
        <label for="route"><b>Route:</b> </label>
        <input class="form-control" type="text" th:field="*{route}" id="route" placeholder="Enter route"/>
        <br>
        <label for="start"><b>Start:</b> </label>
        <input class="form-control" type="text" th:field="*{start}" id="start" placeholder="Enter start"/>
        <br>
        <label for="finish"><b>Finish:</b> </label>
        <input class="form-control" type="text" th:field="*{finish}" id="finish" placeholder="Enter finish"/>
        <br>
        <input class="btn btn-secondary d-grid gap-2 col-12 mx-auto" type="submit" value="Update"/>
    </form>
</div>
</body>
</html>