<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Tours</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="d-grid gap-2 col-6 mx-auto">
    <h3>Create new tour</h3>
    <form th:method="POST" th:action="@{/tours}" th:object="${tour}">
        <label for="id"><b>Id:</b> </label>
        <input class="form-control" type="text" th:field="*{id}" id="id" placeholder="Enter Id"/>
        <br>
        <label for="price"><b>Price:</b> </label>
        <input class="form-control" type="text" th:field="*{price}" id="price" placeholder="Enter price"/>
        <br>
        <label for="route"><b>Route:</b> </label>
        <input class="form-control" type="text" th:field="*{route}" id="route" placeholder="Enter route"/>
        <br>
        <label for="start"><b>Start:</b> </label>
        <input class="form-control" type="text" th:field="*{start}" id="start" placeholder="Enter start"/>
        <br>
        <label for="finish"><b>Route:</b> </label>
        <input class="form-control" type="text" th:field="*{finish}" id="finish" placeholder="Enter finish"/>

        <input class="btn btn-secondary d-grid gap-2 col-12 mx-auto" type="submit" value="Add tour"/>
    </form>
</div>
</body>
</html>