<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Authorization</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<form th:method="POST" th:action="@{/api/v1/auth}" th:object="${dto}">
    <div class="mb-3 d-grid gap-2 col-6 mx-auto">
        <label for="Username" class="form-label">Username</label>
        <input type="text" class="form-control" id="Username" th:field="*{username}">
    </div>
    <div class="mb-3 d-grid gap-2 col-6 mx-auto">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" th:field="*{password}">
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary ">Submit</button>
    </div>
</form>
</body>
</html>
