<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Authorization</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="nav_bar/index.html :: navigation"></div>
<form th:method="POST" th:action="@{/api/v1/regist}" th:object="${dto}">
    <div class="d-grid gap-2 col-6 mx-auto">
        <h2 class="form-sign in-heading">Registration</h2>

        <label for="Username" class="form-label">Username</label>
        <input type="text" class="form-control" id="Username" th:field="*{username}">

        <label for="Password" class="form-label">Password</label>
        <input type="text" class="form-control" id="Password" th:field="*{password}">

        <label for="firstName" class="form-label">FirstName</label>
        <input type="text" class="form-control" id="firstName" th:field="*{firstName}">

        <label for="lastName" class="form-label">lastName</label>
        <input type="text" class="form-control" id="lastName" th:field="*{lastName}">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </div>
</form>
</body>
</html>